body {
  width: 100%;
  margin: 0px; }

a {
  text-decoration: none; }

.intro {
  max-width: 100%;
  text-align: center; }
  .intro--background {
    max-width: 100%; }
  .intro--background-video {
    max-width: 100%;
    display: none; }
  .intro--container {
    position: relative;
    background-color: black; }
  .intro--header, .intro--subheader, .intro--scroll {
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute; }
  .intro--header, .intro--subheader {
    text-transform: uppercase;
    white-space: pre; }
  .intro--header {
    font-size: 3.5em;
    top: 2.45em;
    left: -17%; }
  .intro--subheader {
    font-size: 1.3em;
    top: 10em;
    left: -2%; }
  .intro--scroll {
    font-size: 1.2em;
    letter-spacing: 5px;
    left: 43%;
    bottom: 15%; }
  .intro--scroll:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 10px auto;
    width: 30%;
    height: 3px;
    background: #F3C715; }

@media only screen and (min-width: 1000px) {
  .intro--header {
    font-size: 2em;
    top: -1.3em;
    bottom: auto;
    left: auto;
    right: .5em; }
  .intro--container {
    height: 100vh; }
  .intro--subheader {
    top: auto;
    bottom: auto;
    left: auto;
    right: 6em;
    font-size: .7em; }
  .intro--scroll {
    font-size: .5em;
    top: auto;
    bottom: 3em;
    left: 48%;
    right: auto; }
  .intro--background {
    display: none; }
  .intro--background-video {
    display: block; } }
.creativity {
  position: relative;
  padding: 0% 5% 0% 5%;
  height: 100%; }
  .creativity--header {
    color: #F3C715;
    font-size: 5.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 0.0625em;
    line-height: 1em; }
  .creativity--image {
    max-width: 100%;
    position: relative;
    left: -10%;
    top: -8em;
    z-index: -1; }
  .creativity--blurb {
    font-family: 'Droid Serif', serif;
    font-size: 1.6em;
    line-height: 2em;
    color: #3E3E3E;
    position: relative;
    top: 400%;
    margin-bottom: 50%; }
  .creativity--review-image {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 6em; }
  .creativity--review-subtitle {
    text-align: center;
    position: relative;
    bottom: 3em;
    margin-bottom: 30%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    color: #656565;
    letter-spacing: 5px; }

@media only screen and (min-width: 1000px) {
  .creativity--header {
    font-size: 3em;
    letter-spacing: 0.0625em;
    line-height: 1em; }
  .creativity--image {
    left: -20%;
    top: -4em; }
  .creativity--blurb {
    font-size: .7em;
    top: 3.3em; }
  .creativity--review-image {
    bottom: auto; }
  .creativity--review-subtitle {
    bottom: .2em;
    margin-bottom: 30%;
    font-size: 0.7em;
    letter-spacing: 8px; }

  .creativity--left-column {
    width: 48%;
    display: inline-block; }

  .creativity--right-column {
    width: 48%;
    display: inline-block; } }
.video {
  background-color: #F2F2F2; }
  .video--container {
    padding-bottom: 20%; }
  .video--header {
    color: white;
    background-color: #00AEEF;
    padding: 5% 0% 5% 15%;
    width: 50%;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 0.3em;
    position: relative;
    top: -1em; }
  .video--entry {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 20% 5% 20% 5%; }
    .video--entry iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

@media only screen and (min-width: 1000px) {
  .video--header {
    font-size: 1em;
    width: 25%;
    padding: 2% 0% 2% 8%;
    top: -1.3em; }
  .video--col {
    display: inline-block;
    width: 32.8%; } }
.gallery {
  height: 1000px; }
  .gallery--header {
    color: white;
    background-color: #DA2026;
    padding: 5% 15% 5% 5%;
    width: 50%;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 0.3em;
    position: relative;
    top: -2em; }
  .gallery .galleria {
    max-width: 600px;
    height: 600px;
    margin: auto;
    background: white; }
    .gallery .galleria-container {
      background: white; }
    .gallery .galleria-thumbnails-container {
      max-width: 550px;
      margin: auto; }
  .gallery .galleria-theme-classic .galleria-thumbnails .galleria-image {
    border: none; }

@media only screen and (min-width: 1000px) {
  .gallery--header {
    font-size: 1em;
    width: 25%;
    padding: 2% 0% 2% 8%;
    top: -2.3em; }
  .gallery--col {
    display: inline-block;
    width: 32.8%; } }
/*@media only screen and (max-width:600px) {
    .galleria {
        max-height: 400px;
    }
}*/
.footer {
  background-color: #502D91;
  max-width: 100%;
  text-align: center; }
  .footer a {
    text-decoration: none; }
  .footer a:link {
    color: white; }
  .footer a:hover {
    color: white; }
  .footer a:visited {
    color: white; }
  .footer a:active {
    color: white; }
  .footer--header {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-top: 2em;
    margin-bottom: 2em;
    position: relative; }
  .footer--contact {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    margin-bottom: 2em; }
  .footer--header:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    width: 2%;
    height: 3px;
    background: white;
    bottom: -40%; }
  .footer--image {
    max-width: 30%;
    margin-bottom: 2em; }

@media only screen and (max-width: 600px) {
  .footer--header, .footer--contact {
    font-size: 1.25em;
    margin-bottom: 2.5em; }
  .footer--header:after {
    bottom: -70%;
    width: 10%; }
  .footer--image {
    max-width: 70%; } }

/*# sourceMappingURL=styles.css.map */
